body {
    margin: 0;
}

main {
    font-family: "Metal Mania", system-ui;
    font-weight: bolder;
    color: #FFBCB5;
    background-color: #262322;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    gap: 10px;
}

h1 {

    font-size: 5rem;
    margin-top: 0px;
    margin-bottom: 5px;
}

p {
    font-size: 1.5rem;
    margin-top: 0;
}

img {
    width: 350px;
    height: 300px;
    margin-bottom: 15px;
}

button {
    background-color: #FFFBBD;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

button:hover {
    box-shadow: #FFBCB5 0px 0px 8px 4px;
}

.hidden {
    display: none;
}